/* .price{
  color: rgb(184, 18, 68);
} */
/* .listingItem{
  display: flex;
  padding: 1rem;
  border: 1.5px solid rgb(177, 175, 175);
  height: 300px;
  margin: 1rem 0.3rem;
}
.listingImage{
  width: 100px;
  height: 250px;
  margin-right: 100px;
  border: 1.5px solid rgb(13, 19, 17);
} */
